process {

    ext.args = {[
      "song_url": params.test_data['rdpc_qa']['song_url'],
      "score_url": params.test_data['rdpc_qa']['score_url'],
      "transport_parallel": params.test_data['rdpc_qa']['transport_parallel'],
      "transport_mem": params.test_data['rdpc_qa']['transport_mem'],
      "api_token": params.api_token
    ]}
    ext.prefix = ""
    ext.max_retries = 1
    ext.first_retry_wait_time = 60
    ext.song_container_version = ""
    ext.song_container = ""
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" }

}
