
manifest {
    homePage = 'https://github.com/icgc-argo-workflows/argo-modules'
    description = 'ARGO Generic Modules to be shared across workflows for RDPC processing'
    nextflowVersion = '>=22.10.0'
}

params {
    outdir = "output/"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
    test_data_base = '/Users/lxiang/Projects/lindaxiang/argo-modules/tests/data/qa'
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
}

profiles {
  singularity {
    docker.enabled = false
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.engineOptions = '-s'
  }
  docker {
    docker.enabled = true
    singularity.enabled = false
    docker.runOptions = '-u \$(id -u):\$(id -g)'    
  }
}

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'