// Base directory for test data
// Should be ="../data"

params {
  test_data {
    'rdpc_qa' {
      study_id = "TEST-PR"
      analysis_id = "08e7c5b1-b3af-4e20-a7c5-b1b3af2e206b"
      analysis_id_unpublished = "0825c028-20b0-4924-a5c0-2820b0992418"
      analysis_id_download = "b953d8e4-41d2-4334-93d8-e441d213346d"
      analysis_id_published = "e3ae259f-753b-402b-ae25-9f753be02b23"
      song_url = "https://song.rdpc-qa.cancercollaboratory.org"
      score_url = "https://score.rdpc-qa.cancercollaboratory.org"
      submission_song_url = "https://submission-song.rdpc-qa.cancercollaboratory.org"
      submission_score_url = "https://submission-score.rdpc-qa.cancercollaboratory.org"
      transport_parallel = 6
      transport_mem = 1
      analysis = "${params.test_data_base}/08e7c5b1-b3af-4e20-a7c5-b1b3af2e206b"
      upload = "${params.test_data_base}/SA610228.67.20200319.wxs.grch38.cram*"
      payload = "${params.test_data_base}/9940db0f-c100-496a-80db-0fc100d96ac1.analysis.json"
      manifest = "${params.test_data_base}/manifest.txt"
    }
  }
}