process {

    withName: 'SONG_SUBMIT' {
      ext.args = {[
        "song_url": params.test_data['rdpc_qa']['song_url'],
        "api_token": params.api_token
      ]}
      ext.prefix = ""
      ext.max_retries = 1
      ext.first_retry_wait_time = 60
      ext.song_container_version = ""
      ext.song_container = ""
      publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" }
    } 
}